---
import IndexPage from "../layouts/IndexPage.astro";
---

<IndexPage>
    <div slot="lightwidget">
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/df52b61460185416a0f0995f9c907212.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</IndexPage>
