---
interface Props {
    name: string;
    description: string;
    image: ImageMetadata;
}

import { Image } from 'astro:assets';

const { name, description, image } = Astro.props;
---

<div class="allergen">
    <div class="allergen-title">
        <Image class="allergen-image filter-brown" src={image} alt={description} />
        <p class="allergen-name">{name}</p>
    </div>

    <p class="allergen-description">{description}</p>
</div>

<style>
    .allergen {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        margin-top: 1rem;
    }

    .allergen-image {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    .allergen-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        width: 100%;
    }

    .allergen-name {
        font-size: 1.3rem;
        font-weight: light;

        margin: 0;

        text-transform: uppercase;
        color: var(--green);
        line-height: 1.2;
    }
    .allergen-description {
        font-size: 1rem;
        font-weight: light;

        margin: 0;
        width: 100%;

        color: var(--brown);
    }
</style>