---
import type { ImageMetadata } from 'astro';

interface Props {
	title: string;
	body: string;
	href: string;
	img?: ImageMetadata;
	icon?: ImageMetadata;
}

const { href, title, body, icon } = Astro.props;
---

<div class="link-card">
	<a href={href}>
		<div class="heading">
			{(icon) && <img src={icon.src} class="icon filter-brown" />}
			<h2>
				{title}
				<span>&rarr;</span>
			</h2>
		</div>
		<p>
			{body}
		</p>
	</a>
</div>

<style lang="less">
	.link-card {
		display: flex;
		margin-bottom: 1.5rem;
		padding: 1px;

		border: 1px solid var(--gray);
		border-radius: 7px;

        transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		
		> a {
			width: 100%;
			padding: calc(1.5rem - 1px);
			
			text-decoration: none;
			color: var(--brown);
			line-height: 1.4;
			opacity: 0.8;
		}
		
		&:hover {
			background-color: var(--hover-bg);
			letter-spacing: 1px;
		}
		&:hover h2 {
			color: var(--brown);
		}
	}

	.heading {
        display: flex;
        align-items: center;
	}

	.icon {
		display: inline-block;
        margin-right: 0.5rem;
	}
	
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: letter-spacing 0.6s cubic-bezier(0.22, 1, 0.36, 1),
					color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		letter-spacing: 0.1px !important;
	}
</style>
