---
---

<div class="footer">
    <p>© Ubbipo - Via De Filippo, 13 - Agropoli (SA)</p>
</div>

<style>
    .footer {
        margin-top: 4rem;

        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .footer p {
        margin: 1rem;
    }
</style>