---
---

<div class="footer">
    <p>© Ubbipo - Via De Filippo, 13 - Agropoli (SA)</p>
</div>

<style>
    .footer {
        margin-top: 4rem;
        border-top: 2px solid black;

        bottom: 0;
        width: 100%;
        background-color: var(--brown);
        color: #DBCBC6;
        text-align: center;
        padding: 10px;
    }
</style>