---
import PageContainer from "../components/PageContainer.astro";
---

<footer>
    <p class="address"><i>© Ubbipo - Via De Filippo, 13 - Agropoli (SA)</i></p>
    <p class="made-with">Site made with <span class="heart">♡</span> by <a href="mailto:marcin@realemail.net ">Marcin S.</a></p>
    <slot name="footer" />
</footer>

<style>
    footer {
        bottom: 0;
		width: 65%;
		max-width: 1000px;
		margin: 0 auto;
        padding: 2rem;

        margin-top: 4rem;
        border-top: 1px solid var(--gray-bg);

        text-align: center;
        color: var(--brown);
		
		@media (max-width: 800px) {
			width: 85%;
		}
		
		@media (max-width: 600px) {
			width: 95%;
		}
    }

    .address {
        margin-top: 0.5rem;
        font-size: 17px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    .made-with {
        margin-top: 0.5rem;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .heart {
        color: red;
    }
</style>