---
import PageContainer from "../components/PageContainer.astro";
---

<PageContainer>
    <div class="footer">
        <p>© Ubbipo - Via De Filippo, 13 - Agropoli (SA)</p>
        <br />
        <p>Site made with <span class="heart">♡</span> by <a href="mailto:marcin@realemail.net ">Marcin S.</a></p>
    </div>
</PageContainer>

<style>
    .footer {
        margin-top: 4rem;
        border-top: 1px solid var(--gray-bg);

        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 2rem;
    }
    .footer p, a {
        margin: 0;
        font-size: 16px;
    }

    .heart {
        color: red;
    }
</style>