---
import { Image } from 'astro:assets';
import logoGreen from "../assets/images/logo-green.svg";
import iconBeer from "../assets/images/icon-beer.svg";
import iconWine from "../assets/images/icon-wine.svg";

import LanguagePicker from '../components/LanguagePicker.astro';

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- The navbar is a table with fixed layout. The language picker should be next to it, with a
     smaller cell size.
    
     The outer container is needed just to center the whole thing. -->
<div class="navbar-container-container">
    <div class="navbar-container">
        <nav id="navbar">
            <a class="nav-link" href={translatePath("/index.html")}>
                <div class="navbox nav-logo">
                    <Image src={logoGreen} alt="Ubbìpò" width="32" />
                    Ubbìpò
                </div>
            </a>
            <div></div>
            <a class="nav-link" href={translatePath("/menus/wine")}>
                <div class="navbox">
                    <Image src={iconWine} alt={t('nav.wine')} width="16" />
                    {t('nav.wine')}
                </div>
            </a>
            <a class="nav-link" href={translatePath("/menus/drinks")}>
                <div class="navbox">
                    <Image src={iconBeer} alt={t('nav.drinks')} width="16" />
                    {t('nav.drinks')}
                </div>
            </a>
        </nav>
        <LanguagePicker />
    </div>
</div>

<style>
    .navbar-container-container {
		display: flex;
		justify-content: center;
    }

    .navbar-container {
        position: fixed;
		top: 0;
        width: 100%;
        max-width: 1100px;

		display: flex;
		justify-content: center;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 2px solid #ddd;

        background-color: white;
    }
    
	#navbar {
        display: table;
        table-layout: fixed;
        
        width: 100%;

        @media (max-width: 700px) {
            table-layout: auto;
        }
	}
	
	.nav-link {
        display: table-cell;
		text-align: center;
        vertical-align: middle;
		text-decoration: none;
        height: 4rem;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        
		color: var(--brown);
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-size: 22px;

        transition: background-color 0.3s; /* Transition effect on hover */

		@media (max-width: 600px) {
			font-size: 14px;
		}
	}
	.nav-link:hover {
		background-color: var(--gray-bg);
		color: black;
	}

    .nav-link-active {
        /* border-bottom: 2px solid var(--brown); */
        background-color: var(--gray-light-bg);
    }

    .nav-logo {
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-size: 26px;

        @media (max-width: 600px) {
            font-size: 18px;
        }
    }

    .navbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbox img {
        margin-right: 0.5rem;
    }
</style>

<script>
    // Set the current page in the navbar to active.
    // Trim any trailing slashes from the current page.
    const currentPage = window.location.pathname.replace(/\/$/, '');
    const navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPage) {
            // Add the nav-link-active class.
            link.classList.add('nav-link-active');
        }
    });
</script>