---
import { Image } from 'astro:assets';
import logoLong from "@images/logo/long.svg";
import iconBeer from "@images/icon/beer.svg";
import iconFood from "@images/icon/food.svg";
import iconWine from "@images/icon/wine.svg";

import LanguagePicker from '@components/LanguagePicker.astro';
import NavCard from "@components/NavCard.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

{/*
The outer container is needed just to center the whole thing.
*/}
<div id="main-nav-main" class="navbar-container-outer">
    <div class="navbar-container">
        <a class="nav-logo" href={translatePath("")}>
            <Image class="nav-logo-inner" src={logoLong} alt="Ubbìpò" />
        </a>

        {/* "Spacer". Empty div to push the menu button to the right. */}
        <div style="width: 100%;"></div>

        <nav class="navbar">
            <NavCard id="nav-button-menu" text={t('nav.menu')} href={translatePath("menu")} />
        </nav>

        <LanguagePicker />
        <div style="width: 1rem;"></div>
    </div>
</div>

{/*
Appearing-and-disappearing navbar with menu links.
*/}
<div id="main-nav-menu" class="navbar-container-outer">
    <div class="navbar-container">
        <nav class="navbar">
            <NavCard icon={iconFood} text={t("nav.food")} href={translatePath("menu/cibo")} />
            <NavCard icon={iconWine} text={t("nav.wine")} href={translatePath("menu/vini")} />
            <NavCard icon={iconBeer} text={t("nav.drinks")} href={translatePath("menu/bevande")} />
        </nav>
    </div>
</div>

<style lang="less">
    .navbar-container-outer {
        position: fixed;
		display: flex;
		justify-content: center;
        
        top: 0;
        width: 100%;
        height: 5rem;
        z-index: 100;

        background: var(--white-bg);

        @media (max-width: 700px) {
            height: 4rem;
        }
    }

	#main-nav-main {
        .navbar-container {
        }
        
        .navbar {
            width: 600px;
        }
	}

    #main-nav-menu {
        top: 5rem;
        display: none;
        
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1);
        
        @media (max-width: 700px) {
            top: 4rem;
        }
        
        .navbar-container {
            max-width: 1050px;
        }
        
        .navbar {
            display: flex;
            width: 100%;
            
            .nav-card {
                position: relative;

                &:not(:last-child)::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 30%;
                    width: 1px;
                    height: 40%;

                    border-right: 1px solid var(--gray-bg);
                }
            }
        }
    }

    .navbar-container {
		display: flex;

        width: 100%;
        max-width: 1100px;

        border-bottom: 1px solid var(--gray);
    }
	

    .nav-logo {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 100%;
        width: 420px;

        @media (max-width: 600px) {
            width: 600px;
        }
        
        transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        
        &:hover {
            background-color: var(--hover-bg);
        }
        
        .nav-logo-inner {
            display: flex;
            align-items: center;
            height: 60%;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        // Set the menu navbar to be below main navbar.
        function setNavbarMenuPosition() {
            const navbarMain = document.getElementById('main-nav-main');
            const navbarMenu = document.getElementById('main-nav-menu');
            if (!navbarMain || !navbarMenu) {
                return;
            }
            
            navbarMenu.style.top = navbarMain.offsetHeight + 'px';
            // Set the height to be a bit less than the main navbar.
            navbarMenu.style.height = navbarMain.offsetHeight - 12 + 'px';
        }

        var navbarVisible = false;
        function toggleNavbarMenu() {
            const navbarMain = document.getElementById('main-nav-main');
            const navbarMenu = document.getElementById('main-nav-menu');
            if (!navbarMain || !navbarMenu) {
                return;
            }
            
            function showNavbarMenu() {
                navbarMenu!.style.opacity = "1";
            }
            function hideNavbarMenu() {
                navbarMenu!.style.display = "none";
            }
            
            if (!navbarVisible) {
                navbarMenu!.style.display = "flex";
                setTimeout(showNavbarMenu, 5);
                navbarVisible = true;
            } else {
                navbarMenu.style.opacity = "0";
                setTimeout(hideNavbarMenu, 300);
                navbarVisible = false;
            }
        }

        setNavbarMenuPosition();
        // Set the logo position when the window resizes.
        window.addEventListener('resize', () => {
            setNavbarMenuPosition();
        });

        // Show the menu when the menu button is clicked.
        const menuButton = document.getElementById('nav-button-menu');
        if (menuButton) {
            // Remove the href from the menu button so that it doesn't navigate to the menu page.
            menuButton.removeAttribute('href');
            menuButton.addEventListener('click', () => {
                toggleNavbarMenu();
            });
        }
    });
</script>