---
import { Image } from 'astro:assets';
import logoFullLong from "../assets/images/logo-full-long.svg";
import logoGreen from "../assets/images/logo-green.svg";
import iconBeer from "../assets/images/icon-beer.svg";
import iconWine from "../assets/images/icon-wine.svg";
---

<div class="navbar-container">
    <nav id="navbar">
        <a class="nav-link" href="/index.html">
            <div class="navbox">
                <Image src={logoGreen} alt="Wine." width="32" />
                Home
            </div>
        </a>
        <div></div>
        <a class="nav-link" href="/menus/wine">
            <div class="navbox">
                <Image src={iconWine} alt="Wine." width="16" />
                Wine
            </div>
        </a>
        <a class="nav-link" href="/menus/drinks">
            <div class="navbox">
                <Image src={iconBeer} alt="Drinks." width="16" />
                Drinks
            </div>
        </a>
    </nav>
</div>

<style>
	.navbar-container {
		display: flex;
		justify-content: center;
	}

	#navbar {
		background-color: #ffffff;
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 1100px;
        
        border-bottom: 2px solid #ddd;
        padding: 0 1rem;
        
		transition: top 0.3s; /* Transition effect when sliding down (and up) */
        
        display: table;
        width: 100%;
        table-layout: fixed;
	}
	
	:global(.nav-link) {
        display: table-cell;
		text-align: center;
        vertical-align: middle;
		text-decoration: none;
        height: 4rem;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        
		color: var(--brown);
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-weight: 400;
        font-size: 22px;

        transition: background-color 0.3s; /* Transition effect on hover */

		@media (max-width: 700px) {
			font-size: 14px;
		}
	}
	:global(.nav-link):hover {
		background-color: #ddd;
		color: black;
	}

    .nav-link-active {
        border-bottom: 1px solid var(--brown);
    }

    .navbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbox img {
        margin-right: 0.5rem;
    }
</style>

<script>
	// Set the current page in the navbar to active.
    const currentPage = window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPage) {
            // Add the nav-link-active class.
            link.classList.add('nav-link-active');
        }
    });
</script>