---
interface Props {
    ingredients: Array<string>;
}

import FormatText from "@components/FormatText.astro";

const { ingredients } = Astro.props;
---

<ul>
    {ingredients.map((ingredient) => 
        <li>
            <FormatText text={ingredient} />
        </li>
    )}
</ul>

<style lang="less">
    ul {
        margin: 0;
        padding-left: 1rem;
    }
    li {
        list-style-type: "— ";
        font-size: 1rem;
    }
</style>