---
---

<div class="menu-navbar-container">
	<nav id="menu-navbar"></nav> 
</div>

<style>
	.menu-navbar-container {
		display: flex;
		justify-content: center;
	}

	#menu-navbar {
		background-color: var(--white-bg);
		position: fixed;
		bottom: 0;
		width: 100%;
		max-width: 1100px;
        height: 4rem;
        
        border-top: 1px solid var(--gray);
        padding: 0 1rem;
        
		transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
        
        display: table;

		@media (max-width: 600px) {
			height: 2.75rem;
		}
	}
	
	:global(.menu-nav-link) {
		display: table-cell;
		text-align: center;
        vertical-align: middle;
		text-decoration: none;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;

		color: var(--brown);
        font-size: 22px;

        transition: background-color 0.3s; /* Transition effect on hover */

		@media (max-width: 600px) {
			font-size: 14px;
		}
	}
	:global(.menu-nav-link + .menu-nav-link) {
		/* border-left: 1px solid #ddd; */
	}
	
	:global(.menu-nav-link:hover) {
		background-color: var(--gray-bg);
		color: black;
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		// Add all h2 ID's to the navbar.
		const h2s = document.querySelectorAll('h2');
		const navbar = document.querySelector('#menu-navbar')!;
		h2s.forEach(h2 => {
			const id = h2.id;
			const text = h2.textContent;
			const a = document.createElement('a');

			a.classList.add('menu-nav-link');
			a.href = `#${id}`;
			a.textContent = text;
			navbar.appendChild(a);
		});
		
		/* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
		var prevScrollpos = window.scrollY;
		window.onscroll = function() {
			var currentScrollPos = window.scrollY;
			const menuNavLink = document.getElementById("menu-navbar");
			if (!menuNavLink) return;

			const menuNavLinkHeight = menuNavLink.clientHeight;
			var menuNavLinkBottom;
			if (prevScrollpos > currentScrollPos) {
				menuNavLinkBottom = 0;
			} else {
				menuNavLinkBottom = -menuNavLinkHeight;
			}
			menuNavLink.style.bottom = `${menuNavLinkBottom}px`;
			prevScrollpos = currentScrollPos;

			// // Update WhatsApp button position.
			// if (document.documentElement.clientWidth  < 768) {
			// 	const whatsappButton = document.getElementById("img-whatsapp")!;
			// 	whatsappButton.style.bottom = `${menuNavLinkBottom + menuNavLinkHeight + 16}px`;
			// }
		}
	});
</script>