---
---

<div class="menu-navbar-container">
	<nav id="menu-navbar"></nav> 
</div>

<style>
	.menu-navbar-container {
		display: flex;
		justify-content: center;
	}

	#menu-navbar {
		background-color: var(--white-bg);
		position: fixed;
		bottom: 0;
		width: 100%;
		max-width: 1100px;
        height: 4rem;
        
        border-top: 1px solid var(--gray);
        padding: 0 1rem;
        
		transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
        
        display: table;
		table-layout: fixed;

		@media (max-width: 600px) {
			height: 2.75rem;
		}
	}
	
	:global(.menu-nav-link) {
		position: relative;

		display: table-cell;
		text-align: center;
        vertical-align: middle;
		text-decoration: none;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;

		color: var(--brown);
        font-size: 22px;

        transition: background-color 0.3s; /* Transition effect on hover */

		@media (max-width: 600px) {
			font-size: 14px;
		}
	}
	:global(.menu-nav-link:not(:last-child)::after) {
		content: "";
		position: absolute;
		right: 0;
		top: 30%;
		width: 1px;
		height: 40%;

		border-right: 1px solid var(--gray-bg);
	}
	
	:global(.menu-nav-link:hover) {
		background-color: var(--gray-bg);
		color: black;
	}
</style>

<script>
	function isVisible(elm: Element) {
		var rect = elm.getBoundingClientRect();
		var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
		return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
	}

	document.addEventListener('astro:page-load', () => {
		// Add all h2 ID's to the navbar.
		const h2s = document.querySelectorAll('h2');
		const navbar = document.querySelector('#menu-navbar')!;
		h2s.forEach(h2 => {
			const id = h2.id;
			const text = h2.textContent;
			const a = document.createElement('a');

			a.classList.add('menu-nav-link');
			a.href = `#${id}`;
			a.textContent = text;
			navbar.appendChild(a);
		});
		
		// Hide the navbar when it's below the footer.
		const menuNavLink = document.getElementById("menu-navbar");
		const footer = document.querySelector('.footer')!;
		var menuNavHidden = false;
		window.onscroll = function() {
			if (!menuNavLink) return;
			const menuNavLinkHeight = menuNavLink.clientHeight;

			var menuNavLinkBottom;
			if (!menuNavHidden && isVisible(footer)) {
				menuNavLinkBottom = -menuNavLinkHeight;
				menuNavLink.style.bottom = `${menuNavLinkBottom}px`;
				menuNavHidden = true;
			} else if (menuNavHidden && !isVisible(footer)) {
				menuNavLinkBottom = 0;
				menuNavLink.style.bottom = `${menuNavLinkBottom}px`;
				menuNavHidden = false;
			}
			
			// // Update WhatsApp button position.
			// if (document.documentElement.clientWidth  < 768) {
			// 	const whatsappButton = document.getElementById("img-whatsapp")!;
			// 	whatsappButton.style.bottom = `${menuNavLinkBottom + menuNavLinkHeight + 16}px`;
			// }
		}
	});
</script>