---
---

<div class="menu-navbar-container">
	<nav id="menu-navbar"></nav> 
</div>

<style>
	.menu-navbar-container {
		display: flex;
		justify-content: center;
	}

	#menu-navbar {
		background-color: var(--white-bg);
		position: fixed;
		bottom: -4rem;
		width: 100%;
		max-width: 1100px;
        height: 4rem;
        
        border-top: 1px solid var(--gray);
        
		transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
        
        display: table;
		table-layout: fixed;

		@media (max-width: 600px) {
			height: 2.75rem;
		}
	}
	
	:global(.menu-nav-link) {
		position: relative;

		display: table-cell;
		text-align: center;
        vertical-align: middle;
        
		text-transform: lowercase;
		text-decoration: none;
		color: var(--brown);
        font-size: 22px;

		@media (max-width: 600px) {
			font-size: 14px;
		}
	}
	:global(.menu-nav-link:not(:last-child)::after) {
		position: absolute;
		content: "";
		right: 0;
		top: 30%;
		width: 1px;
		height: 40%;

		border-right: 1px solid var(--gray-bg);
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		function isVisible(elm: Element) {
			var rect = elm.getBoundingClientRect();
			var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
			return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
		}

		// Add all h2 ID's to the navbar.
		const h2s = document.querySelectorAll('h2');
		const menuNavbar = document.getElementById("menu-navbar");
		if (!menuNavbar) return;
		h2s.forEach(h2 => {
			const id = h2.id;
			const text = h2.textContent;
			const a = document.createElement('a');

			a.classList.add('menu-nav-link');
			a.classList.add('clickable');
			a.classList.add('spreadable');
			a.href = `#${id}`;
			a.textContent = text;
			menuNavbar.appendChild(a);
		});

		// Show the navbar on pageload, so it is not shown when JavaScript is disabled.
		menuNavbar.style.bottom = `0px`;
		
		// Hide the navbar when it's below the footer.
		const footer = document.querySelector('footer')!;
		var menuNavHidden = false;
		window.onscroll = function() {
			if (!menuNavbar) return;
			const menuNavbarHeight = menuNavbar.clientHeight;

			var menuNavbarBottom;
			if (!menuNavHidden && isVisible(footer)) {
				menuNavbarBottom = -menuNavbarHeight;
				menuNavbar.style.bottom = `${menuNavbarBottom}px`;
				menuNavHidden = true;
			} else if (menuNavHidden && !isVisible(footer)) {
				menuNavbarBottom = 0;
				menuNavbar.style.bottom = `${menuNavbarBottom}px`;
				menuNavHidden = false;
			}
			
			// // Update WhatsApp button position.
			// if (document.documentElement.clientWidth  < 768) {
			// 	const whatsappButton = document.getElementById("img-whatsapp")!;
			// 	whatsappButton.style.bottom = `${menuNavbarBottom + menuNavbarHeight + 16}px`;
			// }
		}
	});
</script>