---
interface Props {
    title?: string;
    description?: string;
}

import FormatText from "@components/FormatText.astro";

const { title, description } = Astro.props;
---

<div class="page-section">
    {(title) && <h2 id={title.toLowerCase().split(" ").join("-")}>{ title }</h2>}

    {(description) && <p><i><FormatText text={ description } /></i></p>}
    
    <slot />
</div> 

<style lang="less">
    .page-section {
        border-top: 1px solid var(--gray-bg);

        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
</style>