---
const { sectionTitle } = Astro.props;
---

<div class="page-section">
    <h2 id={sectionTitle.toLowerCase().split(" ").join("-")}>{ sectionTitle }</h2>
    
    <slot />
</div> 

<style>
    .page-section {
        border-top: 1px solid #c2c2c2;
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
</style>