:root {
  --green:#6B8F00;
  --brown:#704F45;
}

@font-face {
  font-family: 'MADE Tommy Soft Regular';
  src: url('/fonts/made-tommy-soft-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE Tommy Soft Light';
  src: url('/fonts/made-tommy-soft-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h3, h4, h5, h6, p, span {  
  font-family: 'MADE Tommy Soft Light', sans-serif;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--green);
  text-transform: uppercase;
}

h2 {  
  font-family: 'MADE Tommy Soft Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

span {
  font-size: 18px;
}