---
import { Image } from 'astro:assets';
import logoFull from "@images/logo/full.svg";

import Layout from "@layouts/Layout.astro";
import MenuSubNav from "@components/MenuSubNav.astro";
import PageContainer from "@components/PageContainer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<div class="menu-header">
		<Image src={logoFull} alt="Logo" width="300" />
	</div>

	<PageContainer>
		<slot />
	</PageContainer>

	<MenuSubNav />
	<slot name="footer" slot="footer" />
</Layout>

<style lang="less">
	.menu-header {
		margin-top: 8rem;
		display: flex;
		justify-content: center;
	}
</style>