---
import Layout from "./Layout.astro";
import PageContainer from "../components/PageContainer.astro";
import Card from "../components/Card.astro";

import iconBeer from "../assets/images/icon-beer.svg";
import iconFood from "../assets/images/icon-food.svg";
// import iconMenu from "../assets/images/icon-menu.svg";
import iconWine from "../assets/images/icon-wine.svg";

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title={t("menu.title")} description={t("menu.description")}>
    <PageContainer>
        <h1>{t("menu.title")}</h1>
        
        <Card href={translatePath("menu/cibo")}
              title={t('menu.food.title')}
              body={t("menu.food.description")}
              icon={iconFood}
            />
        <Card href={translatePath("menu/vini")}
              title={t('menu.wine.title')}
              body={t("menu.wine.description")}
              icon={iconWine}
            />
        <Card href={translatePath("menu/bevande")}
              title={t('menu.drinks.title')}
              body={t("menu.drinks.description")}
              icon={iconBeer}
            />
        <div style="height: 1rem;" />
    </PageContainer>
</Layout>

<style>
    h1 {
        text-align: center;
    }
</style>