---
import { Image } from 'astro:assets';
import logoFull from "@images/logo/full.svg";

import Layout from "@layouts/Layout.astro";

import FormatText from "@components/FormatText.astro";
import MenuSubNav from "@components/MenuSubNav.astro";
import PageContainer from "@components/PageContainer.astro";

interface Props {
	title: string;
	description: string;
	info?: string,
}

const { title, description, info } = Astro.props;
---

<Layout title={title} description={description}>
	<PageContainer>
		<div class="menu-header">
			<Image src={logoFull} alt="Logo" width="300" />
			{(info) && <span class="menu-info"><i><FormatText text={info} /></i></span>}
		</div>

		<slot />
	</PageContainer>

	<MenuSubNav />
	<slot name="footer" slot="footer" />
</Layout>

<style lang="less">
	.menu-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		margin-top: 8rem;
	}

	.menu-info {
		margin-top: 3rem;
		margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        width: 100%;

        color: var(--brown);
        font-size: var(--font-size-important);
	}
</style>
