---
import { Image } from 'astro:assets';
import Layout from "./Layout.astro";
import MenuNav from "../components/MenuNav.astro";

import logoFull from "../assets/images/logo-full.svg";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
	<div class="menu-header">
		<Image src={logoFull} alt="Logo" width="300" />
	</div>
	<div class="menu-container">
		<slot />
	</div>
</Layout>

<MenuNav />

<style>
	.menu-header {
		margin-top: 6rem;
		display: flex;
		justify-content: center;
	}
	
	.menu-container {
		width: 60%;
		max-width: 900px;
		margin: 0 auto;
		
		@media (max-width: 800px) {
			width: 80%;
		}
		
		@media (max-width: 600px) {
			width: 95%;
		}
	}
</style>